# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Router related
*.gr.dart

# Assets generated
/lib/common/constants/gen

/lib/generated/locale_keys.g.dart

# Freezed related
*.freezed.dart
*.g.dart


/ios/Podfile.lock
/lib/core/injector/locator.config.dart
/syncfusion_flutter_charts-25.1.40/
/.env

/pubspec.lock

# FVM Version Cache
.fvm/

# Localization related
lib/l10n/generated/
